.index-style{
    background-color: #fdbd67;
}

.whyhere-style{
    background-color: purple
}

.pictures-style{
    background-color: #615c5b;
}

p.alt-1{
    background-color: aqua;
}

p.alt-2{
    background-color: greenyellow;
}

